*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a{
    color: white;
    text-decoration: none;
}
html{
    background-color: #1f242d;
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background-color: #1f242d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 0.3s;
}
@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }
}
.navbar .logo {
 font-family: 'Great Vibes', sans-serif;
font-weight: 1000;
letter-spacing: 4px;
text-transform: uppercase;
font-size: 30px;
color: #ffffff;
}
.navbar .logo span{
    color: #ff9800;
}
.navbar ul{
    display: flex;

}
.navbar ul .show{
    display: flex;
    opacity: 1;
    transform: translateY(0);
}
.navbar ul li {
    list-style: none;
    text-transform: uppercase;
    margin-left: 25px;
    font-family: 'Raleway', sans-serif; 
}
.navbar ul li a{
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
}
.navbar ul li:hover a,
.navbar ul li.active a {
    color: #ff9800;
}
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    gap: 50px;
    padding: 60px 9% 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 0.4s;
}
.home-info h1{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}

.typing-container {
    display: flex;
    align-items: center; /* Ensure text stays centered */
}

.typing-heading {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    min-height: 40px; /* Ensure stable height */
}

.typing-text {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 0;
}

.typing-text {
    display: inline-block;
    color: #ff9800;
    font-weight: bold;
    text-align: left;
    position: relative;
    
}

.typing-cursor {
    display: inline-block;
    color: #ff9800;
    font-size: 30px;
    font-weight: bold;
    animation: blinkCursor 0.6s infinite;
    vertical-align: middle;
}

@keyframes blinkCursor {
    50% {
        opacity: 0;
    }
    
}









.home-info p{
    font-size: 16px;
    gap: 19px;
    margin: 10px 0 25px;
    font-weight: lighter;
    font-family: 'Nunito', sans-serif;
    color: rgb(212, 197, 197);
}
.home-info .btn-sci {
    display: flex;
    align-items: center;
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #ff9800;
    border: 2px solid #ff9800;
    border-radius: 40px;
    box-shadow:0 0 10px #ff9800;
    font-size: 16px;
    color: rgb(21, 20, 20);
    font-weight: 600;
    transition: .5s;
}
.btn:hover {
    background: transparent;
    color: #eb9514;
    box-shadow: none;
}
.home-info .btn-sci .sci {
    margin-left: 20px;
}
.home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #ff9800;
    border-radius: 50%;
    font-size: 20px;
    color: #ff9800;
    margin: 0 8px;
    transition: .5s;
}
.home-info .btn-sci .sci a:hover {
    background: #ff9800;
    color: #1f242d;
    box-shadow: 0 0 10px #ff9800;
}
.home-img .img-box{
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, #ff9800);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}
.home-img .img-box::after {
    animation-delay: -5s;
}
@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}
.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    display: flex;
    border: .1px solid #1f242d;
    z-index: 1;
    justify-content: center;
    overflow: hidden;
}
.home-img .img-box .img-item img {
    position: absolute;
    display: block;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: lighten;
}


/* Toggler Button Styles */
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}













/* Responsive Design */
@media (max-width: 1024px) {
    .navbar {
        padding: 20px 5%;
        background-color: #1f242d;
    }
    .home {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 100px 5% 50px;
    }
    .home-info h1 {
        font-size: 40px;
    }
    .home-info h2 {
        font-size: 24px;
        
    }
    
    .home-img .img-box {
        width: 50vw;
        height: 50vw;
    }
}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #1f242d;
        padding: 10px 0;
        
        
    }
    .typing-heading {
        font-size: 24px;
    }
    .typing-cursor {
        font-size: 24px;
    }
    .typing-container {
        margin-left: 74px;
        
    }
    .menu-toggle {
        display: block;
        color: white;
        
    }

    .navbar ul.show {
        display: flex;
        width: 100%;
        background-color: #1f242d;    
    }
    .navbar ul.active {
        display: flex;
    }
    .navbar ul li {
        margin: 10px 0;
        margin-left: 26px;
        width: 100%;
        text-align: left;
    }
    .home-info h1 {
        font-size: 35px;
    }
    
    .btn {
        padding: 8px 20px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 15px 5%;
        
    }
    .typing-heading {
        font-size: 20px;
    }
    .typing-heading p {
        font-style: 30px;
    }
    .typing-cursor {
        font-size: 20px;
    }
    .home-info h1 {
        font-size: 30px;
    }
    .home-info h2 {
        font-size: 18px;
        display: block;
        overflow: hidden;
    }
    .home-info p {
        font-size: 12px;
    }
    .btn {
        padding: 6px 15px;
        font-size: 12px;
    }
    .home-img .img-box {
        width: 70vw;
        height: 70vw;
    }
    .sci a i {
        font-size: 15px;
    }
    .typing-container h2 {
        font-size: 16px;
    }
}


















.about {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    padding: 50px 20px;
    text-align: left;
    animation: slideIn 1.5s ease-in-out;
}
@keyframes slideIn {
    from { opacity: 0; transform: translateY(0); }
    to { opacity: 1; transform: translateY(0); }
}
.about h2 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding-left: 15px;
    margin-bottom: 40px;
    margin-left: 40px;
    position: relative;
    top: -15px;
    transition: color 0.3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about h2 span {
    color:  #ff9800;
}
.about-content {
    display: flex;
    align-items: center;
    gap: 80px;
}
.image-container {
    position: relative;
    width: 420px;
    height: 490px;
    
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    position: relative;
    z-index: 8;
}
.image-container::before,
.image-container::after,
.image-container .extra-frame::before,
.image-container .extra-frame::after {
    content: "";
    position: absolute;
    background:  #ff9800;
}
.image-container::before {
    top: -10px;
    left: -7px;
    width: 80px;
    height: 4px;
}
.image-container::after {
    top: -10px;
    left: -10px;
    width: 4px;
    height: 80px;
}
.info {
    margin-top: 15px;
    font-size: 1.1rem;
    color: #bbb;
}
.extra-frame::before {
    bottom: -10px;
    right: -10px;
    width: 80px;
    height: 4px;
}
.extra-frame::after {
    bottom: -10px;
    right: -10px;
    width: 4px;
    height: 80px;
}
.text {
    max-width: 600px;
}
.text p {
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 20px;
    gap: 10px;
}

.icons {
    margin: 25px 0;
}
.icons a {
    color: #ff9800;
    font-size: 1.7rem;
    margin-right: 18px;
    margin-top: 30px;
    transition: 0.3s;
}
.icons a:hover {
    color:  #c47806;
}
.buttons {
    margin-top: 20px;
}
.buttons button {
    padding: 12px 24px;
    border: none;
    font-size: 1.1rem;
    margin-right: 12px;
    cursor: pointer;
    transition: 0.3s;
}
.btn-primary {
    background-color: #ff9800;
    color: #121212;
    border-radius: 5px;
}
.btn-primary:hover {
    background-color: #e68900;
}
.btn-secondary {
    background-color: transparent;
    color: #000000;
    background-color: #ff9800;
    border: 2px solid #ff9800;
    border-radius: 5px;
}
.btn-secondary:hover {
    background-color: #d18109;
    color: #121212;
}


@media (max-width: 1024px) {
    .about {
        padding: 40px 20px;
        margin-top: 40px;
    }
    .about h2 {
        font-size: 4.5rem;
        text-align: center;
        margin-left: 0;
        margin-top: 40px;
        padding-left: 0;
    }
    .about-content {
        flex-direction: column;
        gap: 50px;
    }
    .navbar a {
        font-family: 'Great Vibes', sans-serif;
        font-weight: 1000;
    }
    .image-container {
        width: 90%;
        height: auto;
    }
    .text p {
        font-size: 18px;
        margin-left: 20px;
    }
    .icons {
        margin-left: 20px;
    }
    .icons a {
        font-size: 1.5rem;
    }
    .buttons {
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    .about h2 {
        font-size: 2rem;
    }
    .text p {
        font-size: 16px;
    }
    .buttons button {
        padding: 10px 20px;
        font-size: 1rem;
    }
    .navbar a {
        font-family: 'Great Vibes', sans-serif;
        font-weight: 1000;
    }
}

@media (max-width: 480px) {
    .about h2 {
        font-size: 1.8rem;
    }
    .text p {
        font-size: 14px;
    }
    .icons a {
        font-size: 1.3rem;
        margin-right: 12px;
    }
    .buttons button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
    .navbar a {
        font-family: 'Great Vibes', sans-serif;
        font-weight: 1000;
    }
}


.custom-projects-section {
    padding: 50px 20px;
    margin-top: 10px;
}
.custom-projects-section h2 {
    margin-bottom: 90px;
    margin-top: 100px;
}
.custom-section-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #ff9800;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 40px;
}
.custom-section-title span {
    color: white;
}
.custom-projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}
.custom-project-card {
    background: #1E1E1E;
    border-radius: 5px;
    box-shadow: none;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: transform 0.5s ease, translate 0.5s ease;
    height: 250px;
    width: 100%;
}
.custom-project-card:hover {
    transform: scale(1.08) translateY(-10px);
}
.custom-project-card img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}
.custom-project-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(18, 18, 18, 0.98), rgba(18, 18, 18, 0.4));
    color: #ffffff;
    padding: 0 15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    font-family:'Raleway', sans-serif;
    transition: opacity 0.8s ease-in-out;
}
.custom-project-info i {
    color: white;
}
.custom-project-card:hover .custom-project-info {
    opacity: 1;
}
.custom-project-info a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    align-items: center;
}
.custom-project-info p {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 23px;
    margin-top: 50px;
    font-weight: bold;
}





@media screen and (max-width: 1024px) {
.custom-projects-section {
padding: 40px 15px;
margin-top: 70%;
}
.custom-projects-section h2 {
    font-size: 36px;
}
.custom-section-title {
font-size: 2rem;
}
.custom-projects-grid {
gap: 30px;
}
.custom-project-card {
width: 90%;
height: 220px;
margin-left: auto;
margin-right: auto;
}
.custom-project-info p {
font-size: 20px;
}
.custom-project-card:hover {
transform: scale(1.05) translateY(-5px);
}
}

@media screen and (max-width: 768px) {
.custom-projects-section {
padding: 30px 10px;
margin-top: 40%;
}
.custom-section-title h2 {
    font-size: 17px;
}
.custom-section-title {
font-size: 1.8rem;
}
.custom-projects-grid {
grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
gap: 25px;
}
.custom-project-card {
width: 85%;
height: 200px;
}
.custom-project-info p {
font-size: 18px;
}
.custom-project-card:hover {
transform: scale(1.04) translateY(-4px);
}
}

@media screen and (max-width: 480px) {
.custom-projects-section {
padding: 20px 5px;
margin-top: 10%;
}
.custom-section-title {
font-size: 1.5rem;
}
.custom-projects-grid {
grid-template-columns: 1fr;
gap: 19px;
}
.custom-project-card {
width: 90%;
height: 180px;
}
.custom-project-info p {
font-size: 16px;
}
.custom-project-info a {
font-size: 12px;
}
.custom-project-card:hover {
transform: scale(1.02) translateY(-3px);
}
}

